/target/
/resource/
/log/
!.mvn/wrapper/maven-wrapper.jar

### Eclipse IDEA ###
.apt_generated
.apt_generated_tests

### STS ###
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans IDEA ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/